**/.ipynb_checkpoints
**/.virtual_documents
**/__pycache__
**/anaconda_projects
**/tools/notebooks
**/plan
**/logs
.env
**/tools/data
opensearch_data/
test_data/results/
data/*.lfs_pointer_backup
data/all_langchain_chunks_noprefix.pkl
data/all_langchain_chunks_with_prefix_backup.pkl
data/all_langchain_chunks.pkl
data/vector_store.faiss/*.faiss
data/vector_store.faiss/*.pkl
data/bookgraph_*.pkl
data/bookgraph_full_*.pkl
data/bookgraph_probe*.pkl


processed_data/
