elasticsearch[vectorstore-mmr]>=8.17.2
langchain>=0.3.21
langchain-community>=0.3.20
langchain-elasticsearch>=0.3.2
langchain-gigachat>=0.3.8
langchain-huggingface>=0.1.2
langchain-openai>=0.3.10
langchain-deepseek>=0.1.3
langfuse>=2.60.1
langgraph>=0.3.18
langgraph-cli[inmem]>=0.1.77
matplotlib>=3.10.1
networkx>=3.4.2
openpyxl>=3.1.5
pandas>=2.2.3
rank-bm25>=0.2.2
tiktoken>=0.9.0
jupyter>=1.1.1
pytest>=8.3.5
faiss-cpu==1.12.0
streamlit==1.46.1
opensearch-py==3.0.0
json_repair